/* universal (navbar, body, footer) */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}


.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

#mainbody{
    display: flex;
    overflow: auto;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

body {
    background-color: #eee !important;
}

.list-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 50px;
}

/* calendar view */

#calendar-div {
    margin-left: auto;
    margin-right: auto;
    /*border: solid;
    border-width: 1px;
    border-color: #b3b3b3;*/
    margin: 2em 10em 10em 10em;
    padding: 2em;
    background-color: #fff;
}

#calendar {
    
}

.fc-day:hover {
    background: #b3b3b3;
}

.fc-event:hover {
    color: #b3b3b3;
}


/* Daily view -- general */
.header-day {
    margin: 10px;
    /*background: #b3b3b3;*/
}

.daily-container {
 /*   border-style: solid;
    border-width: 1px;*/
    padding: 2em;
    background-color: #fff;
    height: 700px;
    margin-bottom: 50px !important; 

}

.header-underline {
    width: 80%;
}



/* Daily view -- Left-hand-side */

.topic-container {
/*    border-style: solid;
    border-width: 1px;*/
    margin: 1em;
    padding: 10px;
    background-color: #e8eaf6;

}

.topic-add {
    border-style: dashed;
    border-width: 1px;
}

.btn-add-topic {
    margin-top: 1em;
}

#edit-btn {
    float: right;
    margin-right: 5em;
}

#minus {
    display: none
}

#minusTopic, #minusAssignmentTopic, #minusAssignment {
    display: none
}

#minusHandout {
    display: none
}


/* Daily view -- Right-hand-side*/
div.questionDiv{
    /*border-style: solid;
    border-width: 1px;*/
    padding: 1em;
    margin-bottom: 2em;
    background-color: #e8eaf6;
}


div.replyDiv{
    /*border-style: solid;*/
    /*border-width: 1px;*/
    padding: 5px;
}

.submit-btn {
    margin-top: 10px;
}

p.questionAuthor{
    font-weight: bold;
}

glyphicon.glyphicon-minus.assignment{
    display: none
}

glyphicon.glyphicon-minus.folder{
    display: none
}

.folder{
    display: none
}

