/* universal (navbar, body, footer) */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}


.navbar-brand, .navbar-nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400px;
}

.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

#mainbody{
    display: flex;
    overflow: auto;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

body {
    /*background-color: #eee !important;*/
}


.list-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 50px;
}

/* calendar view */

#calendar-div {
    margin-left: auto;
    margin-right: auto;
    margin: 2em 10em 10em 10em;
    padding: 2em;
    background-color: #fff;
}


.fc-day:hover {
    background: #b3b3b3;
    cursor: pointer;
}

.fc-event:hover {
    color: #b3b3b3;
    cursor: pointer;
}


/* Daily view -- general */
.left-arrow{
    float:left;
}

.right-arrow{
    float:right;
}

#leftbody, #rightbody {
    padding: 20px;
}


#dailyViewDay{
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

#selected-day {
    margin-right: 10px;
}

.header-day {
    margin: 10px;
}

.daily-container {
    padding: 2em;
    background-color: #eee;
    height: 700px;
    margin-bottom: 50px !important; 

}

#daily-questions {
    height: 550px;
    margin-top: 1em;
}

.header-underline {
    width: 80%;
    border-top-color: #000;
}



/* Daily view -- Left-hand-side */

#topics {
    margin: 0 auto;
    float: none;
    overflow: auto;
    height: 550px;

}

.col-md-5.topic-container {
    margin: 1em;
    padding: 0px;
}

.col-md-5.topic-add {
    border-style: dashed;
    border-width: 1px;
    padding: 1em;
}

.btn-add-topic {
    margin-top: 1em;
}

#edit-btn {
    float: right;
    margin-right: 5em;
    margin-top: 20px;
}

#minus {
    display: none
}

#minusTopic, #minusAssignmentTopic, #minusAssignment {
    display: none
}

#minusHandout {
    display: none
}

.materials-input {
    display: none;
    visibility: hidden; 
    width: 1px; 
    height: 1px;
}

.materials-topic-name-input {
    color: black;
}

.materials-panel-heading {
    cursor: pointer;
}



/* Daily view -- Right-hand-side*/
div.questionDiv{
    margin-bottom: 2.5em;
    margin-left: 2em;
    margin-right: 2em;
}

.list-group-item {
    margin-top: 1em;
}

div.replyDiv{
    /*border-style: solid;*/
    /*border-width: 1px;*/
    padding: 5px;
}

.btn-show, .btn-hide {
    margin-left: 1em;
}

.submit-btn {
    margin-top: 10px;
    margin-right:10px;
}

.btn-default {
    margin-right: 10px;
}

p.questionAuthor{
    font-style: italic;
}

.questionText {
    margin-bottom: 5px;
    display: inline;
}

.carrot_icon {
    display: inline;
    float: right;
    /*add this to stick that guy on the right*/
    position: relative;
}

glyphicon.glyphicon-minus.assignment{
    display: none
}

glyphicon.glyphicon-remove.handout{
    display: none
}

glyphicon.glyphicon-minus.folder{
    display: none
}


.panel {
    padding: 0;
}

.panel-heading h4 {
    margin: 0;
}

.topic-add {
    padding: 2em;

}


h4 > span { 
    display: none;
}


h4 > span:hover { 
    display: inline;
}

p > span:hover { 
    display: inline;
}


a > span { 
    display: none;
}


a > span:hover { 
    display: inline;
}

.selectable {
    cursor:pointer;
}

div.expandable:hover{
    background-color: #265a88;
    border-color: #265a88;
}

