/*universal (navbar, body, footer)*/
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}
#mainbody{
    display: flex;
    overflow: auto;
}
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/*calendar view*/

#calendar {
    margin: 5em;
}

div.solid {
    border-style: solid;
    height: 80px;
    width: 80px;
    font-size: 10pt;
    margin: 20px;
}

div.left{
    height: 200px;
    width: 600px;
}

div.dashed {
    border-style: dashed;
    height: 80px;
    width: 80px;
    font-size: 10px;
    margin: 20px;
    float: right;
    position: absolute;
    top: 25px;
    left: 120px;
}


/*Daily view*/
#rightbody{
    border-left: 1px solid #ccc;
}

#leftbody{
    border-right: 1px solid #ccc;
}


div.questionDiv{
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

p.questionAuthor{
    font-weight: bold;
}

/* left side */
#minus{
    display: none
}

td{
    padding:15px;
    width:100px;
    height=100px;
}